# Created by .ignore support plugin (hsz.mobi)

.idea/workspace.xml

.idea/driver_lunch.iml

.idea/encodings.xml

.idea/jsLibraryMappings.xml

.idea/jsLibraryMappings.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/misc.xml

.idea/jsLibraryMappings.xml
